.container_logements{
    background-color: #F6F6F6;
    margin-top: 2%;
    border-radius: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 4%;
    padding-bottom: 4%;
    justify-items: center;
}

.card_click{
    height: 450px;
    width: 90%;
    position: relative;
    margin-bottom: 5%;
}

main {
    margin-left: 4%;
    margin-right: 4%;
}