.banner {
    display: flex;
    justify-content: center;
    height: 95%;
    border-radius: 25px;
}

.banner_out{
    margin-top: 5%;
    height: 250px;
    h1 {
        position: absolute;
        z-index: 1;
        // top: 53%;
        right: 32.5%;
        font-size: 3rem;
        color: white;
        transform: translate(10px, 85px);
    }
}

.img_banner {
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
    position: relative;
    filter: brightness(50%);
}