
.card_img{
    height: 340px;
    width: 340px;
    border-radius: 10px;
    
}

.card_title{
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 5%;
    color: #FFF;
    text-decoration: none;
    
}

.card_content{
    
    
    width: 340px;
    height: 340px;
    border-radius: 10px;
}
