.collapse{
    transition-duration: 0.5s;
    transform: rotate(180deg);
    background-color: #ff6060;
}

.uncollapse{
    background-color: #FF6060;
    transition-duration: 0.5s;
    transform: rotate(360deg);
}

.container_collapse{
    display: grid;
    justify-content: center;
}

.banner_collapse{
    width: 1500px;
    background-color: #FF6060;
    height: auto;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    
}

.banner_name_collapse{
    display: flex;
    justify-content: space-between;
    p{
        color: white;
        display: flex;
        align-items: center;
    }
}
