.error{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    color: #FF6060;
    height: 561px;
}

.error_404{
    font-size: 10rem;
    font-weight: 700;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.error_oups{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 5%;
}

.error_accueil{
    color: #FF6060;
    text-decoration: underline #FF6060;
    display: flex;
    justify-content: center;
}