

@media (max-width: 1360px) {
    .container_logements{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 992px) {
    .container_logements{
        grid-template-columns: repeat(1, 1fr);
    }

    .banner{
        h1{
            left: 4%;
        }
    }

    .all_collapse{
        width: 92%;
    }

    .nav_links a {
        text-transform: uppercase;
    }

    .counter {
        display: none;
    }

    main {
        display: block;
    }

    .location {
        margin-top: 3%;
    }

    .tags {
        margin-top: 4%;
    }

    .host-rating {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .rating {
        margin-top: 0;
        align-items: center;
        img {
            margin-left: 0;
        }
    }

    .description-equipements {
        display: block;
    }
}

@media (max-width: 870px) {
    .card_click{
        height: 400px;
    }
}

@media (max-width: 740px) {
    .card_click{
        height: 350px;
    }
    .banner{
        height: 200px;
        h1{
            top: 26%;
            bottom: 26%;
            font-size: 2.5rem;
        }
    }
}

@media (max-width: 580px) {
    .card_click{
        height: 300px;
    }
}

@media (max-width: 480px) {
    .logo_kasa {
        width: 40%;
    }
    .banner {
        height: 150px;
        h1 {
            font-size: 2rem;
        }
    }
}